In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install pypots>=0.4

In [ ]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.2.5-cp310-cp310-manylinux2014_x86_64.whl (98.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.2/98.2 MB 22.4 MB/s eta 0:00:00
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.7.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.25.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (2.0.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.11.4)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.15.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.52.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (24.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.1.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (8.3.0)
Installing collected packages: catboost
Successfully installed catboost-1.2.5

In [ ]:
import os
import pandas as pd
import datetime
import numpy as np


import sklearn
from sklearn.cluster import KMeans
from sklearn.metrics import mean_squared_error

import warnings
import xgboost as xgb
import catboost as catt
from catboost import CatBoostRegressor
import math


# Suppress PerformanceWarning
warnings.filterwarnings('ignore')

import uuid
from sklearn.model_selection import KFold



def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
    torch.manual_seed(seed)
    np.random.seed(seed)
    torch.manual_seed(seed)
    torch.cuda.manual_seed(seed)
    torch.cuda.manual_seed_all(seed)
    torch.backends.cudnn.deterministic = True
    torch.backends.cudnn.benchmark = False
    torch.use_deterministic_algorithms(True)

In [ ]:
def rmse(y_true, y_pred):
    return np.sqrt(mean_squared_error(y_true, y_pred))

In [ ]:
os.chdir('/content/drive/MyDrive/EverythingDataScience/AirQuality')
print(f'current directory:  {os.getcwd()}')

current directory:  /content/drive/MyDrive/EverythingDataScience/AirQuality

In [ ]:
train_df = pd.read_csv(os.getcwd() + '/Train.csv')
test_df = pd.read_csv(os.getcwd() + '/Test.csv')
sub = pd.read_csv(os.getcwd() + '/SampleSubmission.csv')

In [ ]:
train_df.head()

,id,site_id,site_latitude,site_longitude,city,country,date,hour,sulphurdioxide_so2_column_number_density,sulphurdioxide_so2_column_number_density_amf,...,cloud_cloud_top_height,cloud_cloud_base_pressure,cloud_cloud_base_height,cloud_cloud_optical_depth,cloud_surface_albedo,cloud_sensor_azimuth_angle,cloud_sensor_zenith_angle,cloud_solar_azimuth_angle,cloud_solar_zenith_angle,pm2_5
0,id_vjcx08sz91,6531a46a89b3300013914a36,6.53257,3.39936,Lagos,Nigeria,2023-10-25,13,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.015000
1,id_bkg215syli,6531a46a89b3300013914a36,6.53257,3.39936,Lagos,Nigeria,2023-11-02,12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.267200
2,id_oui2pot3qd,6531a46a89b3300013914a36,6.53257,3.39936,Lagos,Nigeria,2023-11-03,13,NaN,NaN,...,6791.682888,51171.802486,5791.682829,11.816715,0.192757,-96.411890,61.045123,-121.307414,41.898269,39.450741
3,id_9aandqzy4n,6531a46a89b3300013914a36,6.53257,3.39936,Lagos,Nigeria,2023-11-08,14,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.537600
4,id_ali5x2m4iw,6531a46a89b3300013914a36,6.53257,3.39936,Lagos,Nigeria,2023-11-09,13,0.000267,0.774656,...,1451.050659,96215.906250,451.050598,10.521009,0.153114,-97.811241,49.513439,-126.064453,40.167355,19.431731

In [ ]:
train_df.isnull().sum().tail(40)

formaldehyde_hcho_slant_column_number_density    3915
formaldehyde_cloud_fraction                      3915
formaldehyde_solar_zenith_angle                  3915
formaldehyde_solar_azimuth_angle                 3915
formaldehyde_sensor_zenith_angle                 3915
formaldehyde_sensor_azimuth_angle                3915
uvaerosolindex_absorbing_aerosol_index              5
uvaerosolindex_sensor_altitude                      5
uvaerosolindex_sensor_azimuth_angle                 5
uvaerosolindex_sensor_zenith_angle                  5
uvaerosolindex_solar_azimuth_angle                  5
uvaerosolindex_solar_zenith_angle                   5
ozone_o3_column_number_density                    112
ozone_o3_column_number_density_amf                112
ozone_o3_slant_column_number_density              112
ozone_o3_effective_temperature                    112
ozone_cloud_fraction                              112
ozone_sensor_azimuth_angle                        112
ozone_sensor_zenith_angle                         112
ozone_solar_azimuth_angle                         112
ozone_solar_zenith_angle                          112
uvaerosollayerheight_aerosol_height              7644
uvaerosollayerheight_aerosol_pressure            7644
uvaerosollayerheight_aerosol_optical_depth       7644
uvaerosollayerheight_sensor_zenith_angle         7644
uvaerosollayerheight_sensor_azimuth_angle        7644
uvaerosollayerheight_solar_azimuth_angle         7644
uvaerosollayerheight_solar_zenith_angle          7644
cloud_cloud_fraction                             3077
cloud_cloud_top_pressure                         3077
cloud_cloud_top_height                           3077
cloud_cloud_base_pressure                        3077
cloud_cloud_base_height                          3077
cloud_cloud_optical_depth                        3077
cloud_surface_albedo                             3077
cloud_sensor_azimuth_angle                       3077
cloud_sensor_zenith_angle                        3077
cloud_solar_azimuth_angle                        3077
cloud_solar_zenith_angle                         3077
pm2_5                                               0
dtype: int64

In [ ]:
train_df.isnull().sum().head(40)

id                                                             0
site_id                                                        0
site_latitude                                                  0
site_longitude                                                 0
city                                                           0
country                                                        0
date                                                           0
hour                                                           0
sulphurdioxide_so2_column_number_density                    4912
sulphurdioxide_so2_column_number_density_amf                4912
sulphurdioxide_so2_slant_column_number_density              4912
sulphurdioxide_cloud_fraction                               4912
sulphurdioxide_sensor_azimuth_angle                         4912
sulphurdioxide_sensor_zenith_angle                          4912
sulphurdioxide_solar_azimuth_angle                          4912
sulphurdioxide_solar_zenith_angle                           4912
sulphurdioxide_so2_column_number_density_15km               4912
month                                                          0
carbonmonoxide_co_column_number_density                     3630
carbonmonoxide_h2o_column_number_density                    3630
carbonmonoxide_cloud_height                                 3630
carbonmonoxide_sensor_altitude                              3630
carbonmonoxide_sensor_azimuth_angle                         3630
carbonmonoxide_sensor_zenith_angle                          3630
carbonmonoxide_solar_azimuth_angle                          3630
carbonmonoxide_solar_zenith_angle                           3630
nitrogendioxide_no2_column_number_density                   4967
nitrogendioxide_tropospheric_no2_column_number_density      4967
nitrogendioxide_stratospheric_no2_column_number_density     4967
nitrogendioxide_no2_slant_column_number_density             4967
nitrogendioxide_tropopause_pressure                         4967
nitrogendioxide_absorbing_aerosol_index                     4967
nitrogendioxide_cloud_fraction                              4967
nitrogendioxide_sensor_altitude                             4967
nitrogendioxide_sensor_azimuth_angle                        4967
nitrogendioxide_sensor_zenith_angle                         4967
nitrogendioxide_solar_azimuth_angle                         4967
nitrogendioxide_solar_zenith_angle                          4967
formaldehyde_tropospheric_hcho_column_number_density        3915
formaldehyde_tropospheric_hcho_column_number_density_amf    3915
dtype: int64

In [ ]:
nan_cols = ['uvaerosolindex_absorbing_aerosol_index']
for col in nan_cols:
    while train_df[col].isnull().sum()>0:
        train_df[col].fillna(train_df[["site_id", col]].groupby(["site_id"]).shift(periods=0).fillna(method='ffill', limit=1).fillna(method='bfill', limit=1)[col], inplace=True)

In [ ]:
train_df['date'].value_counts().head(20)

date
2024-01-26    60
2024-01-24    59
2024-01-27    59
2024-01-25    57
2024-01-16    54
2023-12-31    54
2024-01-14    52
2023-12-12    51
2023-12-11    49
2023-12-10    47
2023-12-14    47
2023-12-09    47
2024-01-15    47
2023-12-01    46
2023-12-15    45
2023-12-04    44
2023-11-18    43
2023-12-06    43
2023-12-05    42
2023-11-16    42
Name: count, dtype: int64

In [ ]:
train_df.head(40)

,id,site_id,site_latitude,site_longitude,city,country,date,hour,sulphurdioxide_so2_column_number_density,sulphurdioxide_so2_column_number_density_amf,...,cloud_cloud_top_height,cloud_cloud_base_pressure,cloud_cloud_base_height,cloud_cloud_optical_depth,cloud_surface_albedo,cloud_sensor_azimuth_angle,cloud_sensor_zenith_angle,cloud_solar_azimuth_angle,cloud_solar_zenith_angle,pm2_5
0,id_vjcx08sz91,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-10-25,13,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.015000
1,id_bkg215syli,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-11-02,12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.267200
2,id_oui2pot3qd,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-11-03,13,NaN,NaN,...,6791.682888,51171.802486,5791.682829,11.816715,0.192757,-96.411890,61.045123,-121.307414,41.898269,39.450741
3,id_9aandqzy4n,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-11-08,14,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.537600
4,id_ali5x2m4iw,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-11-09,13,0.000267,0.774656,...,1451.050659,96215.906250,451.050598,10.521009,0.153114,-97.811241,49.513439,-126.064453,40.167355,19.431731
5,id_iwv3za16vc,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-11-10,13,-0.000130,0.683252,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.032250
6,id_jsxdghr248,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-11-11,13,0.000018,1.093447,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.417667
7,id_275xmh4mpv,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-11-15,13,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,272.091429
8,id_ym8cixcegi,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-11-16,13,0.000163,0.334319,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.559000
9,id_02mf0t6b64,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-11-17,12,0.000114,0.595891,...,4058.409668,71396.875000,3058.409668,4.432884,0.214505,73.518120,38.779526,-142.403320,32.381641,154.909800
10,id_1bvsfcr7h5,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-11-18,12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.041923
11,id_stc0uavy0y,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-11-23,12,NaN,NaN,...,2889.231445,81258.609375,1889.231445,10.307960,0.128259,71.619957,53.885914,-148.929398,31.501530,21.050577
12,id_01y6kp1otv,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-11-24,13,NaN,NaN,...,7361.937012,47000.980469,6361.937012,14.017672,0.139422,-95.866020,65.512260,-127.587364,45.349926,32.441400
13,id_ywrt8af2vz,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-11-25,13,0.000787,0.531577,...,7723.730152,45408.822316,6723.730152,9.435506,0.155446,-97.827888,49.407508,-131.586663,41.767981,41.190500
14,id_76sl9izbxs,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-12-01,13,-0.000152,1.070448,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.286000
15,id_tgv1i3r7g7,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-12-04,12,0.000022,0.859028,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.543750
16,id_0v6zmpff84,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-12-05,13,0.000294,0.659634,...,7792.556950,45347.730397,6792.557393,13.086506,0.215719,-96.453453,60.706005,-131.735169,44.346019,88.922000
17,id_i631zjoit6,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-12-06,13,0.000027,0.730182,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.149400
18,id_il4m9rsmpi,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-12-09,12,NaN,NaN,...,2171.250977,88276.789063,1171.250977,9.900322,0.139710,71.571510,54.232479,-153.658264,32.863964,82.063000
19,id_l2z05k2vlo,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-12-10,13,0.000555,0.517860,...,4528.639657,66911.150891,3528.639869,4.244845,0.232097,-95.888755,65.307105,-131.519656,45.465553,32.270769
20,id_ryq1feotwa,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-12-11,13,-0.000004,0.597224,...,2146.904785,88628.210938,1146.904785,8.976684,0.175559,-97.896919,48.863262,-135.664520,41.963894,202.870400
21,id_mrvvpvu603,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-12-12,13,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,289.464038
22,id_8ex60wgj56,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-12-13,13,-0.000163,0.493446,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172.095600
23,id_wqwe60fvip,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-12-14,12,-0.000294,0.493478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,166.298864
24,id_n1slqciz82,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-12-15,12,0.001220,0.417432,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.006000
25,id_tzfvvjzrmq,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-12-31,12,0.000321,0.505251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.533000
26,id_ekgo1cjkzm,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2024-01-13,13,0.000573,0.627785,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,160.656200
27,id_axeqj9pobo,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2024-01-14,13,-0.000146,0.668809,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.824000
28,id_iu1uofxe3i,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2024-01-15,12,0.000011,0.538623,...,5865.188477,57600.628906,4865.188477,8.820210,0.136727,72.441109,47.564377,-156.546432,30.259844,137.348400
29,id_b63pki8hqp,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2024-01-16,12,0.000702,0.501200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129.360000
30,id_6apsw2pycx,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2024-01-24,13,-0.000183,0.578716,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.238036
31,id_cdexyu06dd,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2024-01-25,12,-0.000626,0.531942,...,2796.015381,82522.445313,1796.015259,7.525567,0.145724,74.504181,29.798018,-150.591064,29.408131,189.000179
32,id_rh7b1erc5v,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2024-01-26,12,-0.000779,0.497914,...,4376.109375,68285.976563,3376.109863,6.869396,0.146188,71.563881,54.231258,-158.734329,27.163403,249.443696
33,id_hvxv822uqo,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2024-01-27,13,0.001318,0.359654,...,3936.063965,72933.953125,2936.063965,6.687110,0.183750,-95.927048,65.097183,-130.438065,38.988113,125.451000
34,id_u50xvtjcas,6448483a87020e00297bee3b,-1.243396,36.886487,Nairobi,Kenya,2023-05-01,10,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.731000
35,id_stbq6cb0c1,6448483a87020e00297bee3b,-1.243396,36.886487,Nairobi,Kenya,2023-05-02,11,NaN,NaN,...,2291.356445,82862.476562,1735.954712,6.457471,0.239870,-98.168556,56.310928,-61.723618,36.636803,15.827000
36,id_ehtnv9dro9,6448483a87020e00297bee3b,-1.243396,36.886487,Nairobi,Kenya,2023-05-03,11,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.773000
37,id_k1ddy7stv5,6448483a87020e00297bee3b,-1.243396,36.886487,Nairobi,Kenya,2023-05-04,10,0.000106,0.965815,...,2866.109863,81781.125000,1866.109863,8.309755,0.220904,77.287331,3.479548,-52.671551,29.031130,6.091579
38,id_xpmax8otbz,6448483a87020e00297bee3b,-1.243396,36.886487,Nairobi,Kenya,2023-05-05,10,-0.000247,0.776013,...,3429.316278,76801.135405,2429.316244,3.838625,0.200424,74.282782,38.481722,-46.217407,25.645474,11.162000
39,id_hshxii5it5,6448483a87020e00297bee3b,-1.243396,36.886487,Nairobi,Kenya,2023-05-06,10,NaN,NaN,...,3624.820801,75074.125000,2624.820801,12.619166,0.243006,72.232025,59.234425,-37.985397,22.754490,12.109000

In [ ]:
import numpy as np
from sklearn.preprocessing import StandardScaler
from pygrinder import mcar
from pypots.data import load_specific_dataset
from pypots.imputation import SAITS
from pypots.utils.metrics import calc_mae

# Data preprocessing. Tedious, but PyPOTS can help.
data = load_specific_dataset('physionet_2012')  # PyPOTS will automatically download and extract it.
X = data['X']
num_samples = len(X['RecordID'].unique())
X = X.drop(['RecordID', 'Time'], axis = 1)
X = StandardScaler().fit_transform(X.to_numpy())
X = X.reshape(num_samples, 48, -1)
X_ori = X  # keep X_ori for validation
X = mcar(X, 0.1)  # randomly hold out 10% observed values as ground truth
dataset = {"X": X}  # X for model input
print(X.shape)  # (11988, 48, 37), 11988 samples and each sample has 48 time steps, 37 features

# # Model training. This is PyPOTS showtime.
# saits = SAITS(n_steps=48, n_features=37, n_layers=2, d_model=256, d_ffn=128, n_heads=4, d_k=64, d_v=64, dropout=0.1, epochs=10)
# # Here I use the whole dataset as the training set because ground truth is not visible to the model, you can also split it into train/val/test sets
# saits.fit(dataset)
# imputation = saits.impute(dataset)  # impute the originally-missing values and artificially-missing values
# indicating_mask = np.isnan(X) ^ np.isnan(X_ori)  # indicating mask for imputation error calculation
# mae = calc_mae(imputation, np.nan_to_num(X_ori), indicating_mask)  # calculate mean absolute error on the ground truth (artificially-missing values)

2024-06-04 05:56:10 [INFO]: Loading the dataset physionet_2012 with TSDB (https://github.com/WenjieDu/Time_Series_Data_Beans)...
2024-06-04 05:56:10 [INFO]: Starting preprocessing physionet_2012...
2024-06-04 05:56:10 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2024-06-04 05:56:10 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2024-06-04 05:56:10 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2024-06-04 05:56:10 [INFO]: Loaded successfully!

KeyError: 'X'

In [ ]:
import numpy as np
from pygrinder import mcar, mar_logistic, mnar_x, mnar_t

# given a time-series dataset with 128 samples, each sample with 10 time steps and 36 data features
ts_dataset = np.random.randn(128, 10, 36)

# grind the dataset with MCAR pattern, 10% missing probability, and using 0 to fill missing values
X_with_mcar_data = mcar(ts_dataset, p=0.1)

### Data Cleaning and Preprocessing

In [ ]:
# concatenate the test and train dataset together
test_df['pm2_5'] = 0
df = pd.concat([train_df, test_df]).reset_index(drop = True)
print(f"shape of dataframe is:{df.shape}")

shape of dataframe is:(10854, 80)

In [ ]:
# drop columns with nan values greater than 70%
dropCol = (df.isnull().sum()/len(df))[(df.isnull().sum()/len(df)).gt(0.70)].index.to_list()
len(dropCol)

7

In [ ]:
# drop these columns with nan values greater than 70% from train and test
df = df.drop(dropCol, axis = 1).reset_index(drop = True)

### Checking if SITE ID and CITY are the same

- we know the cities in train are not the cities in test
- we know that the site_ids in test is different from the ones in train

In [ ]:
print(train_df.site_id.unique().shape, train_df.city.unique().shape, train_df.country.unique().shape, train_df.site_latitude.unique().shape)
print(test_df.site_id.unique().shape, test_df.city.unique().shape, test_df.country.unique().shape)

(69,) (4,) (4,) (68,)
(39,) (4,) (4,)

In [ ]:
train_df.city.unique(), train_df.country.unique()

(array(['Lagos', 'Nairobi', 'Bujumbura', 'Kampala'], dtype=object),
 array(['Nigeria', 'Kenya', 'Burundi', 'Uganda'], dtype=object))

### Data Arrangement
- How is the data in the train and test dataframe arranged in terms of date, do we have a kind of like timeseries prediction into the future on the test set i.e the date in the test is not in the train or it is made up of mixed dates.

In [ ]:
train_df.date.max(),train_df.date.min(), test_df.date.max(),test_df.date.min()

('2024-02-26', '2023-01-01', '2024-02-24', '2023-05-01')

### Filling the Nan values
- The method we want to use is to sort by site_id first and then sort by date and then use forward-fill and backward-fill for the nan values.

In [ ]:
# sort by date
df.sort_values(by=['date']).reset_index(inplace=True, drop=True)

# get the nan columns
idle_cols = ['id', 'site_id', 'city', 'country', 'date', 'site_latitude', 'site_longitude']
nan_cols = df.columns[df.isnull().any()].tolist()
print(len(nan_cols))
nan_cols = [col for col in nan_cols if col not in idle_cols]
print(len(nan_cols))

for col in nan_cols:
    while df[col].isnull().sum()>0:
        df[col].fillna(df[["site_id", col]].groupby(["site_id"]).shift(periods=0).fillna(method='ffill', limit=1).fillna(method='bfill', limit=1)[col], inplace=True)

df.isnull().sum()[df.isnull().sum()>0]

63
63

Series([], dtype: int64)

### Date features

In [ ]:
df["date"] = pd.to_datetime(df.date)

### Categorical from Numerical Features

In [ ]:
not_used_cols = ['id', 'pm2_5']
cat_features = [col for col in df.columns if df[col].dtype == 'object' and col!= 'id']
train_cols = [col for col in df.columns if col not in not_used_cols]

### Modelling

In [ ]:
from sklearn.model_selection._split import _BaseKFold, indexable, _num_samples
from sklearn.utils.validation import _deprecate_positional_args

# https://github.com/getgaurav2/scikit-learn/blob/d4a3af5cc9da3a76f0266932644b884c99724c57/sklearn/model_selection/_split.py#L2243
class GroupTimeSeriesSplit(_BaseKFold):
    """Time Series cross-validator variant with non-overlapping groups.
    Provides train/test indices to split time series data samples
    that are observed at fixed time intervals according to a
    third-party provided group.
    In each split, test indices must be higher than before, and thus shuffling
    in cross validator is inappropriate.
    This cross-validation object is a variation of :class:`KFold`.
    In the kth split, it returns first k folds as train set and the
    (k+1)th fold as test set.
    The same group will not appear in two different folds (the number of
    distinct groups has to be at least equal to the number of folds).
    Note that unlike standard cross-validation methods, successive
    training sets are supersets of those that come before them.
    Read more in the :ref:`User Guide <cross_validation>`.
    Parameters
    ----------
    n_splits : int, default=5
        Number of splits. Must be at least 2.
    max_train_size : int, default=None
        Maximum size for a single training set.
    Examples
    --------
    >>> import numpy as np
    >>> from sklearn.model_selection import GroupTimeSeriesSplit
    >>> groups = np.array(['a', 'a', 'a', 'a', 'a', 'a',\
                           'b', 'b', 'b', 'b', 'b',\
                           'c', 'c', 'c', 'c',\
                           'd', 'd', 'd'])
    >>> gtss = GroupTimeSeriesSplit(n_splits=3)
    >>> for train_idx, test_idx in gtss.split(groups, groups=groups):
    ...     print("TRAIN:", train_idx, "TEST:", test_idx)
    ...     print("TRAIN GROUP:", groups[train_idx],\
                  "TEST GROUP:", groups[test_idx])
    TRAIN: [0, 1, 2, 3, 4, 5] TEST: [6, 7, 8, 9, 10]
    TRAIN GROUP: ['a' 'a' 'a' 'a' 'a' 'a']\
    TEST GROUP: ['b' 'b' 'b' 'b' 'b']
    TRAIN: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] TEST: [11, 12, 13, 14]
    TRAIN GROUP: ['a' 'a' 'a' 'a' 'a' 'a' 'b' 'b' 'b' 'b' 'b']\
    TEST GROUP: ['c' 'c' 'c' 'c']
    TRAIN: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]\
    TEST: [15, 16, 17]
    TRAIN GROUP: ['a' 'a' 'a' 'a' 'a' 'a' 'b' 'b' 'b' 'b' 'b' 'c' 'c' 'c' 'c']\
    TEST GROUP: ['d' 'd' 'd']
    """
    @_deprecate_positional_args
    def __init__(self,
                 n_splits=5,
                 *,
                 max_train_size=None
                 ):
        super().__init__(n_splits, shuffle=False, random_state=None)
        self.max_train_size = max_train_size

    def split(self, X, y=None, groups=None):
        """Generate indices to split data into training and test set.
        Parameters
        ----------
        X : array-like of shape (n_samples, n_features)
            Training data, where n_samples is the number of samples
            and n_features is the number of features.
        y : array-like of shape (n_samples,)
            Always ignored, exists for compatibility.
        groups : array-like of shape (n_samples,)
            Group labels for the samples used while splitting the dataset into
            train/test set.
        Yields
        ------
        train : ndarray
            The training set indices for that split.
        test : ndarray
            The testing set indices for that split.
        """
        if groups is None:
            raise ValueError(
                "The 'groups' parameter should not be None")
        X, y, groups = indexable(X, y, groups)
        n_samples = _num_samples(X)
        n_splits = self.n_splits
        n_folds = n_splits + 1
        group_dict = {}
        u, ind = np.unique(groups, return_index=True)
        unique_groups = u[np.argsort(ind)]
        n_samples = _num_samples(X)
        n_groups = _num_samples(unique_groups)
        for idx in np.arange(n_samples):
            if (groups[idx] in group_dict):
                group_dict[groups[idx]].append(idx)
            else:
                group_dict[groups[idx]] = [idx]
        if n_folds > n_groups:
            raise ValueError(
                ("Cannot have number of folds={0} greater than"
                 " the number of groups={1}").format(n_folds,
                                                     n_groups))
        group_test_size = n_groups // n_folds
        group_test_starts = range(n_groups - n_splits * group_test_size,
                                  n_groups, group_test_size)
        for group_test_start in group_test_starts:
            train_array = []
            test_array = []
            for train_group_idx in unique_groups[:group_test_start]:
                train_array_tmp = group_dict[train_group_idx]
                train_array = np.sort(np.unique(
                                      np.concatenate((train_array,
                                                      train_array_tmp)),
                                      axis=None), axis=None)
            train_end = train_array.size
            if self.max_train_size and self.max_train_size < train_end:
                train_array = train_array[train_end -
                                          self.max_train_size:train_end]
            for test_group_idx in unique_groups[group_test_start:
                                                group_test_start +
                                                group_test_size]:
                test_array_tmp = group_dict[test_group_idx]
                test_array = np.sort(np.unique(
                                              np.concatenate((test_array,
                                                              test_array_tmp)),
                                     axis=None), axis=None)
            yield [int(i) for i in train_array], [int(i) for i in test_array]

### Separate Train and Test set

In [ ]:
train, test = df[df['pm2_5'] != 0], df[df['pm2_5'] == 0]
train.shape, test.shape, train_df.shape, test_df.shape

((8071, 73), (2783, 73), (8071, 80), (2783, 80))

In [ ]:
X = train[train_cols]
y = train['pm2_5']

In [ ]:
class PARAM:

  SEED = 42

  n_splits = 10

  params_xgb = {
            'gpu_id': 0,
            #'n_gpus': 2,
            'objective': 'reg:squarederror',
            'eval_metric': 'rmse',
            'booster': 'gbtree',
            'n_estimators': 6000,
            'tree_method': 'gpu_hist',
            'grow_policy': 'lossguide',
            'max_depth': 8,
           'learning_rate': 0.01,
            'max_bin': 90, #
            'max_leaves': 90, #
            'reg_alpha': 8,
            'reg_lambda': 20,
            'subsample': 0.8
            }



folds = KFold(n_splits= PARAM.n_splits, random_state= PARAM.SEED, shuffle = True)

In [ ]:
train_preds = np.zeros(train.shape[0])
test_preds = np.zeros(test.shape[0])


for fold_, (train_idx, val_idx) in enumerate(folds.split(X.values, y)):
    print(f'Fold {fold_+1} / {PARAM.n_splits}' )
    X_train, X_val, X_test = X.iloc[train_idx], X.iloc[val_idx], test
    y_train, y_val = np.log(y.iloc[train_idx]), np.log(y.iloc[val_idx])

    clf = CatBoostRegressor(n_estimators=5000,eval_metric='RMSE',
                                learning_rate=0.175, random_seed= 42,
                                use_best_model=True)

    # clf = CatBoostRegressor(eval_metric='RMSE',
    #                         random_seed= 42,
    #                             use_best_model=True)

    clf.fit(X_train,y_train,eval_set=[(X_val, y_val)],
            cat_features = cat_features,
            early_stopping_rounds=200,verbose=200)


    predTrain = np.exp(clf.predict(X_val))
    train_preds[val_idx] = predTrain
    print(f"fold {fold_ + 1} RMSE : {rmse(y.iloc[val_idx], predTrain)}")

    predTest = np.exp(clf.predict(X_test[train_cols]))
    predTest[predTest < 0] = 0
    test_preds += predTest


test_preds = test_preds / 10
print(f"CV RMSE : {rmse(y, train_preds)}")

Fold 1 / 10
0:	learn: 0.6065823	test: 0.6022786	best: 0.6022786 (0)	total: 15.8ms	remaining: 1m 18s
200:	learn: 0.2439998	test: 0.3289301	best: 0.3289301 (200)	total: 2.58s	remaining: 1m 1s
400:	learn: 0.1872899	test: 0.3114118	best: 0.3114118 (400)	total: 4.65s	remaining: 53.3s
600:	learn: 0.1537056	test: 0.3055703	best: 0.3054304 (596)	total: 6.91s	remaining: 50.6s
800:	learn: 0.1306387	test: 0.3043692	best: 0.3042400 (728)	total: 9.07s	remaining: 47.6s
1000:	learn: 0.1139017	test: 0.3033863	best: 0.3033190 (965)	total: 11.2s	remaining: 44.8s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.303318993
bestIteration = 965

Shrink model to first 966 iterations.
fold 1 RMSE : 11.855966914461984
Fold 2 / 10
0:	learn: 0.5988430	test: 0.6074823	best: 0.6074823 (0)	total: 12.8ms	remaining: 1m 4s
200:	learn: 0.2465814	test: 0.3023991	best: 0.3023991 (200)	total: 2.04s	remaining: 48.8s
400:	learn: 0.1896765	test: 0.2860621	best: 0.2860621 (400)	total: 4.21s	remaining: 48.3s
600:	learn: 0.1568496	test: 0.2821711	best: 0.2821711 (600)	total: 6.45s	remaining: 47.2s
800:	learn: 0.1339589	test: 0.2792896	best: 0.2791876 (792)	total: 8.61s	remaining: 45.2s
1000:	learn: 0.1171201	test: 0.2788252	best: 0.2787951 (819)	total: 10.8s	remaining: 43.3s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.2787951313
bestIteration = 819

Shrink model to first 820 iterations.
fold 2 RMSE : 15.188053423977253
Fold 3 / 10
0:	learn: 0.6027153	test: 0.5659435	best: 0.5659435 (0)	total: 14.3ms	remaining: 1m 11s
200:	learn: 0.2480633	test: 0.3404847	best: 0.3403670 (199)	total: 2.13s	remaining: 50.8s
400:	learn: 0.1898094	test: 0.3289410	best: 0.3289410 (400)	total: 4.37s	remaining: 50.1s
600:	learn: 0.1564940	test: 0.3262705	best: 0.3262636 (582)	total: 6.65s	remaining: 48.7s
800:	learn: 0.1334868	test: 0.3260083	best: 0.3257087 (692)	total: 8.89s	remaining: 46.6s
1000:	learn: 0.1162579	test: 0.3241854	best: 0.3240937 (962)	total: 11.3s	remaining: 45s
1200:	learn: 0.1022237	test: 0.3239701	best: 0.3239197 (1197)	total: 13.5s	remaining: 42.6s
1400:	learn: 0.0911497	test: 0.3256794	best: 0.3238631 (1204)	total: 15.6s	remaining: 40.2s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.3238630577
bestIteration = 1204

Shrink model to first 1205 iterations.
fold 3 RMSE : 17.866727531979212
Fold 4 / 10
0:	learn: 0.6021286	test: 0.5773283	best: 0.5773283 (0)	total: 15.8ms	remaining: 1m 19s
200:	learn: 0.2456461	test: 0.3277115	best: 0.3277115 (200)	total: 2.33s	remaining: 55.7s
400:	learn: 0.1885046	test: 0.3097218	best: 0.3095302 (396)	total: 4.57s	remaining: 52.5s
600:	learn: 0.1573070	test: 0.3052793	best: 0.3052505 (599)	total: 6.78s	remaining: 49.6s
800:	learn: 0.1339848	test: 0.3034695	best: 0.3030175 (724)	total: 8.97s	remaining: 47s
1000:	learn: 0.1167177	test: 0.3021355	best: 0.3021355 (1000)	total: 11.1s	remaining: 44.4s
1200:	learn: 0.1029923	test: 0.3014993	best: 0.3014380 (1088)	total: 13.5s	remaining: 42.7s
1400:	learn: 0.0922742	test: 0.3007576	best: 0.3007026 (1388)	total: 15.9s	remaining: 40.8s
1600:	learn: 0.0827094	test: 0.3012716	best: 0.3005956 (1403)	total: 18.1s	remaining: 38.4s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.300595643
bestIteration = 1403

Shrink model to first 1404 iterations.
fold 4 RMSE : 13.208143006150088
Fold 5 / 10
0:	learn: 0.6010486	test: 0.5889967	best: 0.5889967 (0)	total: 12.1ms	remaining: 1m
200:	learn: 0.2513305	test: 0.3017611	best: 0.3017611 (200)	total: 2.25s	remaining: 53.7s
400:	learn: 0.1933907	test: 0.2852567	best: 0.2851139 (392)	total: 4.47s	remaining: 51.3s
600:	learn: 0.1600519	test: 0.2789271	best: 0.2788666 (598)	total: 6.84s	remaining: 50.1s
800:	learn: 0.1366405	test: 0.2755637	best: 0.2753090 (770)	total: 9.13s	remaining: 47.9s
1000:	learn: 0.1178493	test: 0.2742493	best: 0.2741102 (990)	total: 11.3s	remaining: 45s
1200:	learn: 0.1041013	test: 0.2737809	best: 0.2732058 (1152)	total: 13.5s	remaining: 42.7s
1400:	learn: 0.0930846	test: 0.2734961	best: 0.2729586 (1313)	total: 15.8s	remaining: 40.5s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.2729586062
bestIteration = 1313

Shrink model to first 1314 iterations.
fold 5 RMSE : 10.066103650964173
Fold 6 / 10
0:	learn: 0.5986745	test: 0.6204962	best: 0.6204962 (0)	total: 14.2ms	remaining: 1m 10s
200:	learn: 0.2491397	test: 0.3074555	best: 0.3074555 (200)	total: 2.35s	remaining: 56.1s
400:	learn: 0.1924552	test: 0.2912234	best: 0.2912159 (397)	total: 4.45s	remaining: 51s
600:	learn: 0.1594319	test: 0.2854336	best: 0.2853909 (595)	total: 6.62s	remaining: 48.4s
800:	learn: 0.1356174	test: 0.2815523	best: 0.2815523 (800)	total: 8.84s	remaining: 46.4s
1000:	learn: 0.1177083	test: 0.2787191	best: 0.2787191 (1000)	total: 11.3s	remaining: 45.1s
1200:	learn: 0.1041326	test: 0.2776864	best: 0.2776060 (1196)	total: 13.8s	remaining: 43.5s
1400:	learn: 0.0926777	test: 0.2762991	best: 0.2762528 (1364)	total: 16s	remaining: 41.1s
1600:	learn: 0.0834988	test: 0.2764838	best: 0.2761679 (1573)	total: 18.2s	remaining: 38.7s
1800:	learn: 0.0756778	test: 0.2758290	best: 0.2757554 (1784)	total: 20.5s	remaining: 36.4s
2000:	learn: 0.0689888	test: 0.2755662	best: 0.2753416 (1966)	total: 23s	remaining: 34.4s
2200:	learn: 0.0627575	test: 0.2752899	best: 0.2749699 (2148)	total: 25.3s	remaining: 32.2s
2400:	learn: 0.0574377	test: 0.2753696	best: 0.2749393 (2238)	total: 27.6s	remaining: 29.9s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.27493931
bestIteration = 2238

Shrink model to first 2239 iterations.
fold 6 RMSE : 9.21431411437301
Fold 7 / 10
0:	learn: 0.5972835	test: 0.6212888	best: 0.6212888 (0)	total: 15ms	remaining: 1m 15s
200:	learn: 0.2442263	test: 0.3636428	best: 0.3634819 (198)	total: 2.1s	remaining: 50.2s
400:	learn: 0.1869502	test: 0.3540987	best: 0.3539121 (357)	total: 4.32s	remaining: 49.5s
600:	learn: 0.1549222	test: 0.3536835	best: 0.3528742 (586)	total: 6.52s	remaining: 47.8s
800:	learn: 0.1325193	test: 0.3526653	best: 0.3519635 (725)	total: 8.87s	remaining: 46.5s
1000:	learn: 0.1152510	test: 0.3517745	best: 0.3514179 (932)	total: 11.2s	remaining: 44.7s
1200:	learn: 0.1022766	test: 0.3512989	best: 0.3508501 (1136)	total: 13.5s	remaining: 42.7s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.3508500697
bestIteration = 1136

Shrink model to first 1137 iterations.
fold 7 RMSE : 17.433790392634986
Fold 8 / 10
0:	learn: 0.5975743	test: 0.6240357	best: 0.6240357 (0)	total: 13.3ms	remaining: 1m 6s
200:	learn: 0.2531813	test: 0.3358503	best: 0.3358376 (199)	total: 2.12s	remaining: 50.6s
400:	learn: 0.1935856	test: 0.3266781	best: 0.3266781 (400)	total: 4.41s	remaining: 50.5s
600:	learn: 0.1598350	test: 0.3253058	best: 0.3241038 (516)	total: 6.73s	remaining: 49.3s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.3241038475
bestIteration = 516

Shrink model to first 517 iterations.
fold 8 RMSE : 15.12918814665974
Fold 9 / 10
0:	learn: 0.6042242	test: 0.6090167	best: 0.6090167 (0)	total: 16.3ms	remaining: 1m 21s
200:	learn: 0.2472342	test: 0.3315944	best: 0.3313180 (198)	total: 2.36s	remaining: 56.4s
400:	learn: 0.1910708	test: 0.3150203	best: 0.3150203 (400)	total: 4.57s	remaining: 52.4s
600:	learn: 0.1579661	test: 0.3102081	best: 0.3100734 (594)	total: 6.83s	remaining: 50s
800:	learn: 0.1343074	test: 0.3069504	best: 0.3067801 (796)	total: 9.08s	remaining: 47.6s
1000:	learn: 0.1173573	test: 0.3055686	best: 0.3055686 (1000)	total: 11.3s	remaining: 45s
1200:	learn: 0.1037171	test: 0.3044270	best: 0.3043681 (1192)	total: 13.5s	remaining: 42.6s
1400:	learn: 0.0926416	test: 0.3037509	best: 0.3035194 (1323)	total: 15.6s	remaining: 40.1s
1600:	learn: 0.0836570	test: 0.3036575	best: 0.3032982 (1545)	total: 17.9s	remaining: 38.1s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.3032982274
bestIteration = 1545

Shrink model to first 1546 iterations.
fold 9 RMSE : 16.237934100759496
Fold 10 / 10
0:	learn: 0.6015264	test: 0.5956652	best: 0.5956652 (0)	total: 14.2ms	remaining: 1m 10s
200:	learn: 0.2456485	test: 0.3281151	best: 0.3273004 (193)	total: 2.23s	remaining: 53.3s
400:	learn: 0.1876350	test: 0.3131402	best: 0.3129872 (390)	total: 4.45s	remaining: 51s
600:	learn: 0.1549669	test: 0.3091346	best: 0.3091269 (598)	total: 6.61s	remaining: 48.4s
800:	learn: 0.1327435	test: 0.3072118	best: 0.3069335 (782)	total: 8.74s	remaining: 45.8s
1000:	learn: 0.1154564	test: 0.3072430	best: 0.3067294 (908)	total: 11s	remaining: 43.8s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.3067294054
bestIteration = 908

Shrink model to first 909 iterations.
fold 10 RMSE : 14.109521186475563
CV RMSE : 14.306100037075053

In [ ]:
sub_xgb = pd.DataFrame()
sub_xgb["ID"] = X_test['id']
sub_xgb["pm2_5"] = test_preds
sub_xgb.to_csv('bfill_ffill_baseline_kfold_cv.csv', index=False)